[submodule "siuVic"]
	path = siuVic
	url = https://github.com/vs2961/07_arpstring_vs.git
[submodule "ahmedTah"]
	path = ahmedTah
	url = https://github.com/TahsinAhmed13/07_arpsting.git
[submodule "yeCul"]
	path = yeCul
	url = https://github.com/CullenLYe/work07_arpstring.git
[submodule "jiangVin"]
	path = jiangVin
	url = https://github.com/vjiang10/07_arpstring_vj.git
[submodule "nathMic"]
	path = nathMic
	url = https://github.com/Michael-Nath/mnath_aps.git
[submodule "huLuc"]
	path = huLuc
	url = https://github.com/lhu10/systems_07_arpstring.git
[submodule "chenJac"]
	path = chenJac
	url = https://github.com/jchen2003/07_arpstring.git
[submodule "shenkerEth"]
	path = shenkerEth
	url = https://github.com/ethan-shenker/07_arpstring_systems.git
[submodule "yeGen"]
	path = yeGen
	url = https://github.com/Gene1212/07_arpstring.git
[submodule "leeLuc"]
	path = leeLuc
	url = https://github.com/Lucas-Lee11/07_arpstring
[submodule "zhangAle"]
	path = zhangAle
	url = https://github.com/Kappachino-Latte/07_arpstring_zhangAle
[submodule "ku-benjetJer"]
	path = ku-benjetJer
	url = https://github.com/jku20/mk65_07_arpsting.git
[submodule "raoIva"]
	path = raoIva
	url = https://github.com/irao12/systems_07_arpstring.git
[submodule "hernandezCar"]
	path = hernandezCar
	url = https://github.com/KarlWithK/07_arpstring_mks.git
[submodule "liSun"]
	path = liSun
	url = https://github.com/sunnyli13/Work07.git
[submodule "haoGan"]
	path = haoGan
	url = https://github.com/haotianGan/07strings
[submodule "maoMad"]
	path = maoMad
	url = https://github.com/madelynxmao/07_arpsting.git
[submodule "hirotaEis"]
	path = hirotaEis
	url = https://github.com/ei5uke/07_arpstring.git
[submodule "zhangDev"]
	path = zhangDev
	url = https://github.com/dzhang10/hw_07_arpstring.git
[submodule "siniscalcoFra"]
	path = siniscalcoFra
	url = https://github.com/NopeSiniscalco/07_arpstring_mks.git
[submodule "zhangJin"]
	path = zhangJin
	url = https://github.com/Jinzxc/07_arpstring_J.git
[submodule "linLei"]
	path = linLei
	url = https://github.com/llin11/07_arpstring.git
[submodule "leeSte"]
	path = leeSte
	url = https://github.com/kevidgel/07_arpstring_kevidgel
[submodule "huMic"]
	path = huMic
	url = https://github.com/GuessHuIAm/homework7
[submodule "zhaoGav"]
	path = zhaoGav
	url = https://github.com/gzhao10/hw7.git
[submodule "VostrikovVla"]
	path = VostrikovVla
	url = https://github.com/villinoid/07_systems
[submodule "zhengYul"]
	path = zhengYul
	url = https://github.com/yzheng10/07_Arpstring.git
[submodule "waldAle"]
	path = waldAle
	url = https://github.com/SashaWald/07_work.git
[submodule "prasadAmi"]
	path = prasadAmi
	url = https://github.com/AmitPr/mks65c-07_arpstring.git
[submodule "misquittaKri"]
	path = misquittaKri
	url = https://github.com/Kristoff1318/Work_07.git
[submodule "luRan"]
	path = luRan
	url = https://github.com/RandyLu0/Work07
[submodule "chanSer"]
	path = chanSer
	url = https://github.com/schan11/chanSer.git
[submodule "liuAlic"]
	path = liuAlic
	url = https://github.com/aliu889/07_arpstring_.git
[submodule "sahaAbh"]
	path = sahaAbh
	url = https://github.com/AbhijeetSaha2142/07_arpstring.git
[submodule "hathawayMay"]
	path = hathawayMay
	url = https://github.com/mayhathaway/systems-07.git
