[submodule "siuVic"]
	path = siuVic
	url = https://github.com/vs2961/07_arpstring_vs.git
[submodule "ahmedTah"]
	path = ahmedTah
	url = https://github.com/TahsinAhmed13/07_arpsting.git
[submodule "yeCul"]
	path = yeCul
	url = https://github.com/CullenLYe/work07_arpstring.git
[submodule "jiangVin"]
	path = jiangVin
	url = https://github.com/vjiang10/07_arpstring_vj.git
[submodule "nathMic"]
	path = nathMic
	url = https://github.com/Michael-Nath/mnath_aps.git
[submodule "huLuc"]
	path = huLuc
	url = https://github.com/lhu10/systems_07_arpstring.git
[submodule "chenJac"]
	path = chenJac
	url = https://github.com/jchen2003/07_arpstring.git
